@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h1>maDMP Translator</h1>
    <article class="" itemprop="text">
        <p>Machine Actionable DMP Translator is an MVC-5 web application, its aim is to converts machine actionable DMPs to a human readable DMPs that could be provided to funders.</p>
        <p>This web application is built on .NETFramewrok 4.6.1, and in order to get it runnign on your machine, you will need the next conditions to be applied:</p>
        <ul>
            <li>Windows OS</li>
            <li>Visual Studio (2015+) with local db</li>
            <li>IIS installed</li>
        </ul>
    </article>
    <p><a href="https://github.com/RDA-DMP-Common" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

