@model maDMPTranslator.ViewModels.ConvertDMPViewModel
@{
    /**/

    ViewBag.Title = "Convert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Convert</h2>

@using (Html.BeginForm("Convert", "DMP", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadForm" }))
{
    <div class="form-group">
        <select class="form-control" name="Template">
            <option value="Horizon">Horizon 2020</option>
            <option value="FWF">FWF</option>
        </select>
    </div>
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" name="Files">
        <label class="custom-file-label" for="customFile">Choose file</label>
    </div>

    <button class="btn btn-success mt-4" type="submit">
        Generate PDF
    </button>

}

@{
    var isDMPLoaded = TempData["jsonContent"] != null && !string.IsNullOrEmpty(TempData["jsonContent"].ToString());
}
@if (isDMPLoaded)
{
    @Html.ActionLink("Print DMP", "action", TempData["jsonContext"], new { @class = "btn btn-primary mt-2" });
}

<div class="card text-white bg-dark mb-12 my-5">
    <div class="card-header" style="cursor:pointer;" data-toggle="collapse" href="#test">
        Preview Generated DMP
    </div>
    <div class="card-body collapse show" id="test">
        <h5 class="card-title">CORRELATING LA MUSEUM VISITORS TO CRIMES IN LA</h5>

        @if (isDMPLoaded)
        {
            <p class="card-text">
                <pre>
                    @TempData["jsonContent"].ToString()
                </pre>
            </p>
        }
        else
        {
            <p class="card-text">
                A Data Management Plan created using DMPonline
                <br />
                <br />
                Creator: Hasan Alkhatib
                <br />
                Affiliation: Universitaet Wien - University of Vienna (Austria)
                <br />
                Template: European Commission (Horizon 2020)
                <br />
                ORCID iD: https://orcid.org/0000-0002-1223-9620
                <br />
                <br />
                PROJECT ABSTRACT
                This data management plan provides assistance and clarification of the process of testing the correlation
                between numbers of museums visitors’ city and numbers of crimes in Los Angeles.
                <br />
                <br />
                Last modified: 20.04.2019
                <br />
                <br />


                CORRELATING  LA  MUSEUM  VISITORS  TO  CRIMES  IN  LA  -  FINAL
                REVIEW DMP

                1. DATA SUMMARY
                <br />
                State the purpose of the data collection/generation
                In this experiment, I wanted to test the correlation between a specific behaviour and the numbers of crimes
                in the same geographical area. Based on that, I found two datasets from Los Angeles city in the US:
                1.  LA crime data from 2010 to present
                2.  LA museum visitors
                Objectives would be to develop a methodology to determine whether art would  affect crime ratio or not.
                Adding to that, I aimed to provide an aggregated results about the crime intensity grouped by years in LA.
                <br />
                <br />
                Explain the relation to the objectives of the project
                As the main objective was to show whether there was a correlation or not, I derived all other objectives from
                it. The developed methodology will serve the purpose of finding and testing the correlation. Moreover, the
                newly aggregated results would be useful for future insights or even studies.
                <br />
                <br />
                Specify the types and formats of data generated/collected
                The first dataset was about crime data in LA from 2010 to 2019, and the other one was about the museums'
                visitors in the same city from 2014 to 2019. Both datasets were in the format of comma separated values
                "csv" and contains only numbers and plain text.
                <br />
                <br />
                Specify if existing data is being re-used (if any)
                There were no other data re-used in this expirement other than the input raw data specified in 1.1 section.
                <br />
                <br />

                Specify the origin of the data
                LA crimes dataset is owned by Los Angeles Police Department, and it had 26 data attributes, the most
                important ones were the date of occurrence, the victim information (e.g. gender, age, and race) and the
                crime description. Adding to that, there were 1.9 Million incidents recorded in the dataset.
                LA museums visitors dataset is owned by Los Angeles Open Data, and it had 12 columns, the first one was
                the month in which the reading was taken in, and the other 11 columns represented the numbers of visitors
                for 11 different museums.
                <br />
                <br />
                State the expected size of the data (if known)
                About the output data from this experiment, it was a combination of calculated numbers grouped by the
                year of occurrence. So, as the datasets intersect in the period of 2014 to 2019, the output data was a CSV
                file with 1 column for the reading type and 5 other columns for the years results.
                Datasource  2014  2015  2016  2017  2018
                Museum_Visitors  #  #  #  #  #
                Crimes  #  #  #  #  #
                <br />
                <br />
                Outline the data utility: to whom will it be useful
                The output data may be useful for other researchers if they were interested in aggregated data about the
                crime rate in LA or even about the numbers of museums visitors.
                2.1 MAKING  DATA  FINDABLE,  INCLUDING  PROVISIONS FOR METADATA  [FAIR
                DATA]
                Outline the discoverability of data (metadata provision)
                All datasets that were used or generated by the experiment are described with metadata and preserved
                using Zenodo repository, which is an open-access repository.
                <br />
                <br />
                Outline the identifiability of data and refer to standard identification mechanism. Do you make use
                of persistent and unique identifiers such as Digital Object Identifiers?
                The data was cited by a DOI citation (Digital Object Identifier), and this is applied to each version will be
                uploaded on the repository.
                Adding to the open-access repository,  data was added to Bitbucket in order to allow alternative version
                control using git. The reserved data link was added to the cited metadata under "replace" tag which refers
                to a possible replacement resource.
                <br />
                <br />
                Outline naming conventions used
                About the generated data, each row describes the aggregated results from each dataset, the first column
                was a pointer to which reading readings (LA crimes, LA museums visitors), followed by 5 columns for each
                year starting from 2014. The convention in which I described this data was from DCMI schema.
                <br />
                <br />
                Outline the approach towards search keyword
                In order to enhance the findability of data, I added keywords regarding to the data science experiment in
                the metadata file and the topic itself.
                <br />
                <br />
                Outline the approach for clear versioning
                In order to keep track of dataset, I used git-versioning next to the Zenodo preservation. On Bitbucket the
                versioning happens according to git, but on Zenodo I get a new DOI for each version I upload.
                <br />
                <br />
                Specify standards for metadata creation (if any). If there are no standards in your discipline describe
                what metadata will be created and how
                The data were described using the metadata obtained by DCMI (Dublin Core Metadata Initiative).
                2.2 MAKING DATA OPENLY ACCESSIBLE [FAIR DATA]
                Specify which data will be made openly available? If some data is kept closed provide rationale for
                doing so
                Mainly, I made the output data available next to its metadata. Moreover, I added the input raw data too in
                order to meke all resources available for more reliable preservation.
                <br />
                <br />
                Specify how the data will be made available
                All datasets used in the experiment are openly available from the moment they were published on Zenodo,
                which indexed it in OpenAIRE.
                <br />
                <br />
                Specify what methods or software tools are needed to access the data? Is documentation about the
                software needed to access the data included? Is it possible to include the relevant software (e.g. in
                open source code)?
                About the data itself, it was stored in CSV file format (Comma Separated Values), which can be opened
                and manipulated using any text editor or sheets software like Excel. Based on that, there will be no need
                for any documentation to display and access data.
                <br />
                <br />
                Specify where the data and associated metadata, documentation and code are deposited
                As  the  data  was  published  on  Zenodo,  it  makes  the  data  itself  associated  with  its  metadata  and
                documentation available, DOI cited and indexed on OpenAIRE and stored on CERN Data Center.
                <br />
                <br />
                Specify how access will be provided in case there are any restrictions
                There  are  no  restrictions  actually  because  OpenAIRE  provides  open  access  to  research  outputs  as  a
                project financed by public funding in Europe.
                2.3 MAKING DATA INTEROPERABLE [FAIR DATA]
                Assess the interoperability of your data. Specify what data and metadata vocabularies, standards
                or methodologies you will follow to facilitate interoperability.
                Generated data can be easily interoperated by other users because of the used format "CSV". Adding to
                the functional format, the data was described according to a standard metadata schema called DCMI.
                <br />
                <br />
                Specify whether you will be using standard vocabulary for all data types present in your data set,
                to allow inter-disciplinary interoperability? If not, will you provide mapping to more commonly used
                ontologies?
                All data used and stored in the experiment are either plain text or counting numbers, which are easy to
                understand and to interoperate.
                2.4 INCREASE DATA RE-USE (THROUGH CLARIFYING LICENSES) [FAIR DATA]
                Specify how the data will be licenced to permit the widest reuse possible
                Generated data from the experiment were licenced under Creative Commons Attribution 4.0 International
                License.
                <br />
                <br />
                Specify  when the data will be made available for re-use. If applicable,  specify  why and for what
                period a data embargo is needed
                With the CC license, data was availble for re-use and sharing by the time it was published and cited on
                Zenodo.
                <br />
                <br />
                Specify  whether  the  data  produced  and/or  used  in  the  project  is  useable  by  third  parties,  in
                particular after the end of the project? If the re-use of some data is restricted, explain why
                Both input and output data are reusable by  third parties as they  are valid CSV files with well-described
                metadata.

                <br />
                <br />
                Describe data quality assurance processes
                A method I used for assuring the experiment was to work with a small sample file from the input data and
                check results. Other than that the process was going smoothly as all data attributes are primitive types.
                <br />
                <br />
                Specify the length of time for which the data will remain re-usable
                Besides publishing the data, it will be available  and reusable as long as it still reserved and indexed on
                Zenodo and stored on CERN Data Center.
                3. ALLOCATION OF RESOURCES
                Estimate the costs for making your data FAIR. Describe how you intend to cover these costs
                Regarding costs, there were no expenses as the publication repository provides its services for free.
                <br />
                <br />
                Clearly identify responsibilities for data management in your project
                Adding to that, the process of managing data was managed by the researcher himself "Hasan Alkhatib",
                and  it  started  by  analyzing  input  data,  then  specify  a  model  for  the  generated  data,  then  export  data,
                preserve data and publish it with DOI citation.
                <br />
                <br />
                Describe costs and potential value of long term preservation
                Even for the long-term preservation, it is stated on Zenodo that even for future data migration, the DOIs will
                stay working just as fine according to the same subscription plan.
                4. DATA SECURITY
                Address data recovery as well as secure storage and transfer of sensitive data
                As the data is preserved on Zenodo, which stores data in CERN Data Center, there are guarantees that
                there will not be any loss of data, because even if Zenodo ended its services, data and its metadata will be
                moved to other data centre and with the existence of DOIs the data and accessing it won't be affected.
                5. ETHICAL ASPECTS
                To be covered in the context of the ethics review, ethics section of DoA and ethics deliverables.
                Include references and related technical aspects if not covered by the former
                Input data and the generated data content were completely anonymized, so with that being preserved on
                Zenodo, there will be no unethical act.
                6. OTHER
                Refer to other national/funder/sectorial/departmental procedures for data management that you are
                using (if any)
                There are no obligations regarding procedures for the management process as there was no funder for this
                experiment.
            </p>
        }

    </div>
</div>

