@model maDMPTranslator.ViewModels.ConvertDMPViewModel
@{
    /**/

    ViewBag.Title = "Convert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Convert</h2>

@using (Html.BeginForm("Convert", "DMP", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadForm" }))
{
    <div class="form-group">
        <select class="form-control" name="Template">
            <option value="Horizon">Horizon 2020</option>
            <option value="FWF">FWF</option>
        </select>
    </div>
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" name="Files">
        <label class="custom-file-label" for="customFile">Choose file</label>
    </div>

    <button class="btn btn-success mt-4" type="submit">
        Generate PDF
    </button>

}

@{
    var isDMPLoaded = TempData["jsonContent"] != null && !string.IsNullOrEmpty(TempData["jsonContent"].ToString());
}
@if (isDMPLoaded)
{
    @Html.ActionLink("Print DMP", "action", TempData["jsonContext"], new { @class = "btn btn-primary mt-2" });
}

<div class="card text-white bg-dark mb-12 my-5">
    <div class="card-header" style="cursor:pointer;" data-toggle="collapse" href="#test">
        Preview Generated DMP
    </div>
    <div class="card-body collapse show" id="test">

        @if (isDMPLoaded)
        {
            <h5 class="card-title">@Model.maDMP.DMP.Title</h5>

            <p class="card-text">
                <pre>
                    @TempData["jsonContent"].ToString()
                </pre>
            </p>
        }
        else
        {
            <h5 class="card-title">Nothing to show yet!</h5>

            <p class="card-text">Nothing to show yet!</p>
        }

    </div>
</div>

